In [1]:
import pandas
import numpy
import seaborn
import scipy
import yfinance

In [2]:
def FetchDataYahoo(Tickers,Columns=None,StartDate=None,StopDate=None,Timespan='max',Interval='1d'):
    """uses yfinance to get data for the array of tickers using yfinance download method.
    tickers : str, list
        List of tickers to download eg.['T','PG']
    Columns = list
        Array of columns needed. The columns are ['Adj Close','Close','High','Low','Open','Volume']
    StartDate = Download start date string 'YYYY-MM-DD' or _datetime.
    StopDate = Download end date string 'YYYY-MM-DD' or _datetime.
    period : str
        Valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        Either Use period parameter or use start and end
    interval : str
        Valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        Intraday data cannot extend last 60 days
    
    """
    StockData= yfinance.download(Tickers,start=StartDate,end=StopDate,period=Timespan,interval=Interval)
    if Columns!=None:
        SelectedData = StockData.loc[:,Columns]
    else:
        SelectedData = StockData
    
    return(SelectedData)

In [3]:
TickerData=FetchDataYahoo(['T','PG','K'],Columns=['Adj Close'],Timespan='1y')

[*********************100%***********************]  3 of 3 completed

In [4]:
TickerData

            Adj Close
                    K          PG          T
Date
2021-03-05  57.139198  122.966385  27.495321
2021-03-08  57.274227  124.264557  27.838779
2021-03-09  56.898056  123.161598  27.513884
2021-03-10  57.611816  124.293854  27.838779
2021-03-11  57.158482  123.874146  27.421061
...               ...         ...        ...
2022-02-28  63.939999  155.889999  23.690001
2022-03-01  63.340000  153.309998  23.530001
2022-03-02  63.619999  153.789993  23.820000
2022-03-03  64.730003  154.360001  23.910000
2022-03-04  64.949997  155.139999  23.870001

[253 rows x 3 columns]

In [5]:
def CalcGain(Data,Tickers):
    
    for i in Tickers:
        temp = Data.loc[:,('Adj Close',i)]
        Data.loc[:,('Return',i)] = (temp-temp.shift(1))/temp[0]
    
    return(Data)

In [6]:
CalcGain(TickerData,['T','PG','K'])

            Adj Close                           Return
                    K          PG          T         T        PG         K
Date
2021-03-05  57.139198  122.966385  27.495321       NaN       NaN       NaN
2021-03-08  57.274227  124.264557  27.838779  0.012492  0.010557  0.002363
2021-03-09  56.898056  123.161598  27.513884 -0.011816 -0.008970 -0.006583
2021-03-10  57.611816  124.293854  27.838779  0.011816  0.009208  0.012492
2021-03-11  57.158482  123.874146  27.421061 -0.015192 -0.003413 -0.007934
...               ...         ...        ...       ...       ...       ...
2022-02-28  63.939999  155.889999  23.690001 -0.008001 -0.019111 -0.020301
2022-03-01  63.340000  153.309998  23.530001 -0.005819 -0.020981 -0.010501
2022-03-02  63.619999  153.789993  23.820000  0.010547  0.003903  0.004900
2022-03-03  64.730003  154.360001  23.910000  0.003273  0.004635  0.019426
2022-03-04  64.949997  155.139999  23.870001 -0.001455  0.006343  0.003850

[253 rows x 6 columns]